.form-en-busqueda {
    margin-top: 50px;
}

.contenedor-busqueda > .row > .col-md-auto:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.5s;
}

.contenedor-busqueda > .row > .col-md-auto{
    margin-bottom: 50px;
}

.imagen-busqueda {
    width: 200px;
    height: 200px;
}


.nombre-campeon{

}

.nombre-campeon > h2{
    color: FFF;
    text-align: center;
}